@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-layout-sider {
  min-width: 70px !important;
  width: 70px !important;
  z-index: 10;
  &:hover {
    width: 200px !important;
  }
}
