@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-layout-sider {
  min-width: 70px !important;
  width: 70px !important;
  z-index: 10;
  &:hover {
    width: 200px !important;
  }
}

/* slider item style */
.swiper-wrapper .swiper-slide {
  margin: 0 !important;
}

.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #117df4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: s3 0.5s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.delete-loader {
  margin-left: 33px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #2eaef4 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #2eaef4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

.logo {
  background-image: url("../../mouravi-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 100px;
  background-position: bottom;
}